body {
    box-sizing: border-box;
    margin: 0;

    /* border: 1px solid red; */
}

nav {
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    overflow: hidden;
    transform: translateY(-100%);
    transition: transform 0.2s ease;
    text-align: center;

    font-size: 25px;

    /* border: 1px solid green; */
}

nav ul {
    text-align: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;

    /* border: 1px solid yellow; */
}

nav a {
    display: block;
    text-decoration: none;
    color: black;

    /* border: 1px solid blue; */
}

nav a:hover {
    background-color: aquamarine;
}

nav:target {
    transform: translateY(0px);

}

header:has(#navbar:target) #hamburger-btn {
    display: none;
}

#hamburger-btn {
    color: black;
    float: right;
}

@media (min-width: 750px) {
    nav {
        transform: translateY(0px);
        /* border: 1px solid green; */
    }

    nav ul {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    #hamburger-btn, #close-btn{
        display:none
    }

    header {
        margin: 1rem 0;
    }
}