body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #293037;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
}

nav {
    min-width: fit-content;
    width: 20%;
    float: left;
}

nav ul{
    margin: 0;
    padding: 0;
    height: 100vh;
    list-style-type: none;
    background-color:#ffffff;
    font-family: "Source Sans", sans-serif;
    font-size: 2rem;
    font-weight: 300;
}

nav a {
    display: block;
    padding: 0.3rem 1rem;
    color: black;
    text-decoration: none;
}

nav a:hover {
    background-color: black;
    color: white;
}

nav a:hover i{
    color:yellowgreen;
}

.main-container {
    overflow: hidden;
    margin: 0;
    padding: 0 1rem;
}