body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

nav li:nth-child(2) {
    margin-right: auto;
}

nav a {
    padding: 0.5rem 1rem;
    display: block;
    text-decoration: none;
}

nav a:visited {
    color: black;
}

nav a:hover {
    background-color: aqua;
}

