/* Mobile version: We have set a maximum of 750px for the screen width to account for ipads*/
@media (max-width: 750px) {
    nav ul {
        flex-direction: column;
        align-items: center;
        /* height: 100vh; */ /* This is option, but basically it takes over the whole screen */
    }
    
    /* Mobile version: Since the whole menu is now vertical,this adds some nice touch to distinguish the dropdown menu */
    .dropdown-menu {
        padding: 1rem;
        border-left: 1px solid salmon;
        border-bottom: 1px solid salmon;
    }

}